[submodule "frenchpress"]
	path = frenchpress
	url = https://github.com/SKonstruct/frenchpress.git
[submodule "openal-soft"]
	path = openal-soft
	url = https://github.com/SKonstruct/openal-soft.git
[submodule "lwjgl3"]
	path = lwjgl3
	url = https://github.com/SKonstruct/lwjgl3.git
[submodule "gl4es"]
	path = gl4es
	url = https://github.com/SKonstruct/gl4es.git
[submodule "caciocavallo17"]
	path = caciocavallo17
	url = https://github.com/SKonstruct/caciocavallo17.git
